.icon {
    display: block;

    &--arrow {
        width: rem(8px);
        height: rem(5px);
    }

    &--arrow-right {
        width: rem(26px);
        height: rem(55px);
    }

    &--check {
        width: rem(11px);
        height: rem(8px);
    }
}
